@model List<DotCEP.Endereco>
@{
Layout = "~/Views/Shared/DotCEP.cshtml";
ViewBag.Title = "DotCEP - Endereços";
}

<div class="Container">









	
 @using (Html.BeginForm()) 
        {
            @Html.AntiForgeryToken()
        
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.cep, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.cep, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cep, "", new { @class = "text-danger" })
                </div>
                        <input type="submit" value="Buscar endereco" class="btn btn-info btn-md-3"/>
                </div>
            </div>
        }
</div>


<hr>

<div class="container">
   <table class="table">
      <thead>
         <tr>
            <th>
               CEP
            </th>
            <th>
               Cidade
            </th>
            <th>Logradouro</th>
         </tr>
      </thead>
      <tbody>
         @foreach (var item in Model)
         {
         <tr>
            <td>
               @Html.DisplayFor(modelItem => item.cep)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.localidade)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.logradouro)
            </td>
         </tr>
         }
      </tbody>
   </table>
</div>