@{ ViewData["Title"] = @Model.Nome; }

<div class="container" style="padding-top: 60px;">
    <div class="panel panel-default">
        <div class="panel-heading">Informaçẽos da escola</div>

        <ul class="list-group">
            <li class="list-group-item">Nome: @Model.Nome</li>
            <li class="list-group-item">Endereço: @Model.Endereco</li>
            <li class="list-group-item">Bairro: @Model.Bairro</li>
            <li class="list-group-item">Numero de alunos: @ViewData["numeroDeAlunos"]</li>
        </ul>
    </div>
</div>