@{ ViewData["Title"] = "Início"; }

<div class="container text-center">
    <h1 class="titulo">Relatório escolar da rede municipal de Pelotas (2017)</h1>
    <br>
    <img src="http://www.mzweb.com.br/futuraii/web/images/icone_RA.PNG" width="250px" alt="#" class="responsive">
</div>


<div class="container" style="padding-top:40px">
    <form class="form-horizontal" asp-controller="Aluno" asp-action="Pesquisa" method="get">
        <fieldset>
            <!-- Search input-->
            <div class="form-group">
                <div class="row text-rigth">
                    <label class="col-md-4 control-label" for="searchinput">Busca de aluno por matrícula:</label>
                    <div class="col-md-4">
                        <input name="matricula" type="search" placeholder="Matrícula" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<hr>

<div class="container text-center fundoInformacoes" style="padding-top:80px">
    <div class="row">
        <div class="col-md-3 Card">
            <div class="row">
                <p class="fontCard"><b>Total de alunos</b></p>
            </div>
            <div class="row">
                <p class="fontCard"> <i class="fas fa-users iconCard"></i></p>
            </div>
            <div class="row">
                <p class="fontCard"><b>@ViewData["total"]</b></p>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3 Card">
            <div class="row">
                <p class="fontCard"><b>Formandos</b></p>
            </div>
            <div class="row">
                <p class="fontCard"> <i class="fas fa-user-graduate iconCard"></i></p>
            </div>
            <div class="row">
                <p class="fontCard"><b>@ViewData["formandos"]</b></p>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3 Card">
            <div class="row">
                <p class="fontCard"><b>Alunos Com Necessidades</b></p>
            </div>
            <div class="row">
                <p class="fontCard"> <i class="fab fa-accessible-icon iconCard"></i></p>
            </div>
            <div class="row">
                <p class="fontCard"><b>@ViewData["AlunosComNecessidades"]</b></p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:80px;margin-bottom:80px;">
        <div class="col-md-3 Card">
            <div class="row">
                <p class="fontCard"><b>Mulheres</b></p>
            </div>
            <div class="row">
                <p class="fontCard"> <i class="fas fa-female iconCard"></i></p>
            </div>
            <div class="row">
                <p class="fontCard"><b>@ViewData["mulher"]</b></p>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3 Card">
            <div class="row">
                <p class="fontCard"><b>Homens</b></p>
            </div>
            <div class="row">
                <p class="fontCard"> <i class="fas fa-male iconCard"></i></p>
            </div>
            <div class="row">
                <p class="fontCard"><b>@ViewData["homem"]</b></p>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3 Card">
            <div class="row">
                <p class="fontCard"><b>Numero de escolas</b></p>
            </div>
            <div class="row">
                <p class="fontCard"> <i class="fas fa-chalkboard-teacher iconCard iconCard"></i></p>
            </div>
            <div class="row">
                <p class="fontCard"><b>@ViewData["escolas"]</b></p>
            </div>
        </div>
    </div>
</div>