<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset = "UTF-8">   

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
</head>
	
<body>
    <div class="menu">
        <h1>Cristianoprogramador.com</h1>
    </div>
		
	<div class="container">
        <div class="row">
            <!-- Nome, Action ,Controller -->
            @Html.ActionLink("Home","Index","Home", null, new{@class="btn btn-success col-md-2 col-md-offset-1"})
		    @Html.ActionLink("Sobre","Sobre2","Home", null, new{@class="btn btn-success col-md-2 col-md-offset-1"})
            @Html.ActionLink("Categorias","Index","Categorias", null, new{@class="btn btn-success col-md-2 col-md-offset-1"})
            @Html.ActionLink("CEP","Index","CEP",null,new {@class="btn btn-success col-md-2 col-md-offset-1"})
        </div>
        
	    @RenderBody()

	</div>
</body>
</html>
