@{ ViewData["Title"] = @Model.Matricula; }

<div class="container" style="padding-top:50px">
    <form class="form-horizontal" asp-controller="Aluno" asp-action="Pesquisa" method="get">
        <fieldset>
            <!-- Search input-->
            <div class="form-group">
                <div class="row text-rigth">
                    <label class="col-md-4 control-label" for="searchinput">Matrícula</label>
                    <div class="col-md-4">
                        <input id="matricula" name="matricula" type="search" placeholder="Matrícula" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </div>

        </fieldset>
        <hr>
    </form>

</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Informaçẽos do aluno com a matrícula - @Model.Matricula</div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">Matrícula: @Model.Matricula</li>
            <li class="list-group-item">Série: @Model.Serie</li>
            <li class="list-group-item">Escola: @Model.Escola</li>
            <li class="list-group-item">Bairro: @Model.Bairro</li>
            <li class="list-group-item">Sexo: @Model.Sexo</li>
            <li class="list-group-item">Bairro: @Model.Bairro</li>
            <li class="list-group-item">Data de nascimento: @Model.DataNascimento</li>
            <li class="list-group-item">Necessidades Educacionais Especiais: @Model.NecessidadesEducacionaisEspeciais</li>
        </ul>
    </div>
</div>